.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    background-color: #1b146412;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  
  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 25px;
    cursor: pointer;
    
  }
  .sidebarListItem:hover{
    background-color: #1b146427 ;
    border-radius: 2px 2px ; 
  }
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  }
  .sidebarButton:hover{
    background-color:#1b146427 ;
    box-shadow: 0px 0px 0px;
  }
  .sidebarHr {
    margin: 20px 0;
  }
  
  .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebarFriend{
    height:38px;
    margin-left: 2px;
  }

  .sidebarFriend:hover{
    background-color: #1b146427 ;
    border-radius: 2px 2px ; 
  }  
  

  
  